@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Hi, bitte schaue in deinem Mailfach ob du eine Bestätigungsemail erhalten hast. <br/>
    Fall nicht klicke bitte eben hier um deinen Account zu aktivieren: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Bestätigen</a>
</p>
    }
    else
    {
<p>
        @*Bitte schaue in dein EMail Postfach um deine EMailadresse zu bestätigen. (Kann auch im Spam-Ordner liegen)*@
</p>
    }
}
