@{
    ViewData["Title"] = "Impressum";
}

<div class="text-center">
    <h1 class="display-4">Hallo</h1>
    <p>Verantwortlich für diese Seite ist:</p>
    <p>Bernd Mayer</p>
    <p>Abteilung Bogenschützen</p>
    <br/>
    <p>Erdinger Str. 51</p>
    <p>Freising</p>
</div>
