@{
    ViewData["Title"] = "Willkommen";
}

<div class="text-center">
    <h1 class="display-4">Hallo</h1>
    <p>Willkommen bei dem Trainingsmanagement des TSV Jahn Freisings. Einfach anmelden und los geht's!</p>
</div>
