@{
    ViewData["Title"] = "Datenschutz";
}
<h1>@ViewData["Title"]</h1>

<p>Diese Seite hat keine Werbung oder ähnliches Eingebunden. Persönliche Daten können im Profil gelöscht werden.</p>
<p>Daten die Erhoben werden, sind in europäischen Rechenzentren gespeichert.</p>
<p>Um die Nutzung zu optimieren wird werden Statistiken zu Aufrufen gespeicher.</p>
