@{
    ViewData["Title"] = "Datenschutz";
}
<h1>@ViewData["Title"]</h1>

<p>Diese Seite hat keine Werbung oder ähnliches Eingebunden. Persönliche Daten können im Profil gelöscht werden.</p>
<p>Daten die Erhoben werden, sind in europäischen Rechenzentren gespeichert.</p>
<p>Um die Nutzung zu optimieren wird werden Statistiken zu Aufrufen gespeichert.</p>

<p>Um Automatisch EMails zu senden verwenden wir den Service von SendGrid. Die Datenschutzerklärung von SendGrid finden Sie hier:</p>
<a href="https://sendgrid.com/policies/privacy-2016/">SendGrid</a>
