@model TrainingCapacityManagement.Models.TrainingsRegistration

@{
    ViewData["Title"] = "Delete";
}

<h1>Abmelden</h1>

<h3>Möchtest du dich von diesem Training abmelden?</h3>
<div>
    <hr class="border-primary" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Training.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Training.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Training.Sport.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Training.Sport.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Abmelden" class="btn btn-danger" /> |
        <a asp-action="Index">Zu deiner Trainingsliste</a>
    </form>
</div>
